/* General styling */
@media only screen and (max-width: 768px) {
    /* Adjustments for tablet screens */
}

@media only screen and (max-width: 480px) {
    /* Adjustments for mobile screens */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    
}

body {
    font-family: "Poppins", sans-serif;
    background: #121212;
    color: #f5f5f5;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #bdbdbd;
    line-height: 1.6;
}

/* Loader Styles */
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #f50057;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide content initially */
body.loading #content {
    display: none;
}

body.loading #loader {
    display: block;
}

/* Navbar Styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    background: #1f1f1f;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f50057;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    cursor: default;
}

/* Hamburger nav */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1f1f1f;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #f5f5f5;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

/* Sections */
section {
    padding: 6rem 10rem;
}

.section-container {
    display: flex;
}

/* Profile Section */
#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__pic-container img {
    border-radius: 50%;
    height: 450px;
    width: 450px;
    object-fit: cover;
    
}

.section__text {
    text-align: left;
}

.section__text__p1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #f5f5f5;
}

.title {
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 1rem;
    overflow-y: hidden;
    color: #f50057;
}

.section__text__p2 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #f5f5f5;
}

.btn-container {
    display: flex;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-color-1 {
    background: #f50057;
    color: white;
}

.btn-color-1:hover {
    background: #ff4081;
    color: white;
}

.btn-color-2 {
    background: white;
    color: #f50057;
    border: 2px solid #f50057;
}

.btn-color-2:hover {
    background: #f5f5f5;
    color: #f50057;
    border: 0px;
}

#socials-container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.icon {
    height: 2rem;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

/* About Section */
#about {
    position: relative;
    background-color: #1f1f1f;
}

.main-title {
    text-align: center;
}

.section__text__p1 {
    font-size: medium;
}

.about__pic-container img {
    border-radius: 20%;
    height: 450px;
    width: 450px;
    object-fit: contain;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 200rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: black;
    text-align: left;
    color: #000000;
}
.details-container p {
    color: black;
}


.section-container {
    gap: 4rem;
    height: 80%;
}

/* Experience Section */
#experience {
    background: #121212;
    padding: 4rem 10rem;
    border-radius: 10px;
    color: white;
}

.experience-details-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.experience-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.experience-table th,
.experience-table td {
    padding: 1rem;
    border: 1px solid #444;
    text-align: left;
}

.experience-table th {
    background-color: #333;
    color: #f5f5f5;
    font-size: 1.25rem;
}

.experience-table td {
    background-color: #1f1f1f;
    font-size: 1rem;
}

.experience-table td img {
    vertical-align: middle;
    margin-right: 0.5rem;
}

.experience-table tr:nth-child(even) td {
    background-color: #1a1a1a;
}

.experience-sub-title {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}


/* Projects Section */
#projects {
    padding: 4rem 10rem;
    background: #1f1f1f;
    /* overflow-x: hidden; */
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project-card {
    background: #121212;
    border: 1px solid #f50057;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.project-image {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.project-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #f50057;
}

.project-info p {
    font-size: 1rem;
    color: #f5f5f5;
    margin-bottom: 1rem;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Testimonials Section */
#testimonials {
    padding: 50px 20px;
    background-color: #121212;
    text-align: center;
    position: relative;
}

#testimonials h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #f50057;
}

.testimonial-container {
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.testimonial-card {
    min-width: 300px;
    max-width: 300px;
    margin: 0 15px;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    position: absolute;
}

.testimonial-card.active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}

.client-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial-card p {
    font-size: 1.2rem;
    color: #bdbdbd;
    margin-bottom: 10px;
}

.testimonial-card cite {
    font-size: 1rem;
    color: #888;
}

.testimonial-pagination {
    margin-top: 20px;
}

.testimonial-pagination button {
    background-color: #f50057;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.testimonial-pagination button:hover {
    background-color: #ff4081;
}

/* Contact Section */
#contact {
    padding: 4rem 10rem;
    background: #1f1f1f;
    border-radius: 10px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 3rem;
    margin-top: 2rem;
}

.contact-form-container {
    flex: 1;
}

form {
    background: #121212;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #f50057;
    background: #1f1f1f;
    color: white;
    font-size: 1rem;
}

form input:focus, form textarea:focus {
    border-color: #f50057;
    outline: none;
}

form button {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    background: #f50057;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #ff4081;
}

.map-container {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background: #121212;
    color: white;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: -20rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 10rem;
}

.footer-logo h2 {
    font-size: 1.5rem;
    color: #f50057;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-socials {
    display: flex;
    gap: 1rem;
}

.footer-socials .icon {
    height: 2rem;
    cursor: pointer;
}

.footer-socials .icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.footer-copyright {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #bbb;
    align-items: center;
}
